<div class="flex mb-25 w-full">
  <div class="bg-black min-w-180 min-h-180"></div>
  <div class="bg-thick flex items-center flex-grow">
    <div class="px-25 py-30 flex-grow">
      <h5 class="text-primary font-medium text-23">{{ videoGame.name }}</h5>
      <h6 class="text-primary font-medium text-19 mb-15">
        Release Date: {{ videoGame.first_release_date | date: 'dd/mm/yyyy' }}
      </h6>
      <p class="text-primary">{{ videoGame.summary }}</p>
    </div>
    <div class="pr-60 px-30">
      <div class="bg-secondary rounded-full text-white text-32 font-medium w-45 h-45 flex items-center justify-center">
        <span>{{ videoGame.rating / 10 | number: '1.0-0' }}</span>
      </div>
    </div>
  </div>
</div>
